@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
}

@section VendorScripts {
<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
<script src="~/js/pages-auth.dist.js"></script>
}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">

      <!-- Register Card -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mb-4 mt-2">
            <a href="/" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
              <span class="app-brand-text demo text-body fw-bold ms-1">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1 pt-2">Adventure starts here 🚀</h4>
          <p class="mb-4">Make your app management easy and fun!</p>

          <form class="mb-3" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Nom && Prenom</label>
              <input type="text" asp-for="Input.FullName" class="form-control"  aria-required="true" placeholder="nom" autofocus>
              <span asp-validation-for="Input.FullName" class="text-danger"></span>

            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password">Mot de passe</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
              </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

            </div>
             <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password">Confirme mot de passe</label>
              <div class="input-group input-group-merge">
                <input type="password"  asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
              </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            </div>

            <button class="btn btn-primary d-grid w-100" id="registerSubmit" type="submit">
              S'inscrire
            </button>
          </form>

          <p class="text-center">
            <span>Vous avez déjà un compte ?</span>
            <a href="/Auth/Login/Basic">
              <span>Se connecter</span>
            </a>
          </p>

          

        </div>
      </div>
      <!-- Register Card -->
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
